[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
django-seed = "*"
pipenv-to-requirements = "*"

[dev-packages]
awsebcli = "*"

[requires]
python_version = "3.7"
